body {
    background-image: url("../resources/space_background.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.earth, .path, .mars, #static {
    display: grid;
    align-self: center;
    justify-self: center;
    color: white;
}

.earthGIF {
    width: 150px;
    height: 150px;
}

.marsGIF {
    width: 80px;
    height: 80px;
}

#static {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-top: 3em;
}

.path {
    grid-column: 2/5;
    color: white;
    text-align: center;
}

.grid_container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1em;
}

#earth_info, #path_info, #mars_info {
    align-self: center;
    justify-self: center;
    background-color: rgba(192, 192, 192, 0.7);
    padding: 1em;
    border-radius: 15px;
    color: white;
}

#path_info {
    grid-column: 3;
}

#mars_info {
    grid-column: 5;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

caption {
    padding-bottom: 1em;
}

.nav_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#nav_earth, #nav_mars {
    justify-self: center;
    align-self: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav_mars {
    grid-column: 5;
}

#EarthButton, #MarsButton {
    background-color: #0090FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35px;
}

button {
    background-color: #0090FF;
    /* Blue */
    ;
    border: none;
    color: white;
    margin-top: 1em;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

#date {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#EarthButton:disabled, #MarsButton:disabled {
    background-color: grey;
}

.event_feed {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(192, 192, 192, 0.3);
    width: 25em;
    height: 15em;
    color: white;
}

.event_feed>ul {
    list-style: none;
    visibility: hidden;
}

