body {
  background-image: url("../resources/space_background.jpg");  
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.earth, .path, .mars, #static{
    display: grid;
    align-self: center;
    justify-self: center;
    color: white;
}

.earthGIF {
    width: 150px;
    height: 150px;
}

.marsGIF {
    width: 80px;
    height: 80px;
}

#static {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.path {
    grid-column: 2/5;
}
.grid_container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1em;
}

#earth_info, #path_info, #mars_info {
    align-self: center;
    justify-self: center;
    background-color: white;
    padding: 1em;
    border-radius: 5%;
}

#path_info {
    grid-column: 3;
}

#mars_info {
    grid-column: 5;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

th {
    margin-top: 1em;
}

.nav_grid {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    margin-bottom: 1em;
}

#nav_earth, #nav_mars {
    justify-self: center;
    align-self: center;
}

#nav_mars {
    grid-column: 5;
}

.event_feed {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:rgba(192,192,192,0.3);
    width: 25em;
    height: 15em;
}

.event_feed > ul {
    list-style: none;
}