.grid_container {
    background-image: url("resources/space_background.jpg");
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

p {
    color: red;
}

body {
    /* background-image: url("resources/space_background.jpg"); */
}

img {
    display: block;
    margin: auto;
}

.earthGIF {
    width: 150px;
    height: 150px;
}

.marsGIF {
    width: 80px;
    height: 80px;
}

.earth, .path, .mars {
    display: grid;
    align-self: center;
    justify-content: center;
    color: white;
}

.path {
    grid-column: 2/5;
}