.grid_container {
    background-image: url("resources/space_background.jpg");
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

p {
    color: red;
}

body {
    /* background-image: url("resources/space_background.jpg"); */
}

.earth, .path, .mars, #static{
    display: grid;
    align-self: center;
    justify-self: center;
    color: white;
}

.earthGIF {
    width: 150px;
    height: 150px;
}

.marsGIF {
    width: 80px;
    height: 80px;
}

#static {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.path {
    grid-column: 2/5;
}